# Ansible managed
#
# Moechtest du dein Passwort aendern, so kannst du das mit dem Befehl
#
#   SET PASSWORD = PASSWORD("...");
#
# auf der MySQL-Shell tun. Anschliessend kannst du es auch hier anpassen.
#
# Beachte, dass dies die Konfigurationsdatei des MySQL-Clients ist, nicht
# die des MySQL-Servers - das Passwort wird hier gefuehrt, damit du dich
# ohne manuelle Eingabe mit dem Server verbinden kannst. Du kannst es
# hierueber aber nicht *setzen*; das muss eben mit SET PASSWORD geschehen.
#
# Mehr dazu findest du hier:
#
# https://uberspace.de/dokuwiki/database:mysql#passwort_aendern
#
# Einen alternativen Account ohne Schreibrechte kannst du wie folgt nutzen:
# mysql --defaults-group-suffix=readonly
# Damit kannst du Clients auf das Statement 'SELECT' einschrnken.
# Dies Passwort kann nur vom Support gendert werden.
# Bitte wende dich bei Bedarf an hallo@uberspace.de.

[client]
user=isabell
password=Lei4eengekae3iet4Ies

[clientreadonly]
user=isabell_ro
password=eeruaSooch6iereequoo
